@charset "utf-8";
:root{
    --ryan: #89dbfc;
    --ryan2: #00ffea; 
    --ryan3:#81c0c0; 
}
*{
    padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    background-color: var(--ryan);
